/*****************************/
/*** overriding stylesheet ***/
/*****************************/

* {

}

.active-nav a:visited{
    background-color: #fa6b8c;
    color:black;
}

.active-nav a:link{
    background-color: #fa6b8c;
    color:black;
}

.active-nav a:hover{
    background-color: #fa6b8c;
    color:black;
}

.active-nav a:active{
    background-color: #fa6b8c;
    color:black;
}

.navbar-collapse {
	
}

#tour {
    
}

#tour table{
    border-spacing: inherit;
}

.navbar.navbar-default a:hover{
	color: white;
}

.navbar.navbar-default a:link{
	color: white;
}

.navbar.navbar-default a:visited{
	color: white;
}

.navbar.navbar-default a:active{
	color: black;
}

.navbar.navbar-default {
	background-color: #f83764;
	border-style: none;
	font-size: 20px;
	color: white;
	text-align: center;
}

.navbar.navbar-default .dropdown-menu a:link{
	font-size: 20px;
	color: black;
	text-align: left;
}

.navbar.navbar-default .dropdown-menu a:visited{
	font-size: 20px;
	color: black;
	text-align: left;
}

.container-fluid.nav{
	
}

.navbar-header {
	
}

.navbar navbar-default {
	
}

.navbar-brand {
	
}

.dropdown {
	color: black;
}

.spacer {
	margin-top: 100px;
	margin-bottom: 150px;
}

.list-group-item {
	text-align: center;
}

.list-group h2 {
	font-size: 25px;
	background-color: #f83764;
	width: 100%;
	color: #ffffff;
	padding: 10px;
}

.list-group h5 {
	color: #1c70f8;
	font-style: italic;
	font-size: 30px;
}

blockquote {
	border: none;
}

blockquote p, cite {
	font-size: 14px;
}

.filter-search label{
	color: white;
	text-decoration: none;
	background-color: rgba(0,201,241,0.50);
	font-size: 20px;
	font-weight:bolder;
	width: 88%;
}

#recipe-links {
	color: white;
	text-decoration: none;
	background-color: rgba(0,201,241,0.50);
	font-size: 20px;
	font-weight:bolder;
	width: 88%;
}

#recipe-links {
	text-align: center;
}

#recipe-links a:link {
	color: white;
	text-decoration: none;
}

#recipe-links a:visited {
	color: white;
	text-decoration: none;
}

#recipe-links a:hover{
	color: #f83764;
	text-decoration: none;
}

#recipe-links a:active {
	color: white;
	text-decoration: none;
}

.nav.nav-pills li {
	/*outline: 1px solid #f81b00;*/
	width: 33%;
	margin: 0;
	padding: 0;
	background-color: #e5e2df;
}

.nav-pills>li>a {
	border-radius: 0;
}

.well h4 {
	background-color: #ffffff;
	padding: 10px;
	border: 1px solid #f83764;
}

select {
	background-color: #44f8bd;
	border: none;
	padding: 10px;
	color: #ffffff;
}

body {
	background-color:rgba(108,211,165,1.00);
}

#home-welcome-frame{
	float: right;
	background-color:rgba(0,201,241,0.50);
	padding:40px;
	width: 350px;
	margin-top: 15px;
}

#reg-form-frame{
	background-color:rgba(0,201,241,0.50);
	padding:20px;
	width: 350px;
}

#reg-form {
	background-image:url(../assets/8.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	padding: 50px 0px 50px 0px;
}

#index-main {
	background-image:url(../assets/healthy-living-main.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	height:525px;
}